.card
  .card-block
    .card-title
      Trips
    %table.table
      %thead.thead-inverse
        %tr
          %th
          %th
          %th Title
          %th Start Date
          %th Start Time
          %th End Time
          %th Seats
          %th Alt Seats
          %th Published
      %tbody
        - @trips.each do |trip|
          %tr
            %td= link_to icon('pencil'), edit_trip_path(trip)
            %td= link_to icon('trash-o'), trip_path(trip), method: :delete
            %td= link_to trip.title, trip_path(trip)
            %td= trip.start_date
            %td= trip.start_time
            %td= trip.end_time
            %td.text-center= trip.seats
            %td.text-center= trip.alt_seats
            %td.text-center= trip.published? ? 'yes' : 'no'
